#dymoEditor{
    padding:2px;
    border:1px solid #aaa;
    border-radius: 5px;
}

#dymoEditorPopup{
    position:absolute;
    background-color:white;
    border:1px solid #aaa;
    border-radius: 5px;
    display:none;
    padding:2px;
}

.dymoEditorObject{
    border:1px dashed #ddd;
    position:absolute;
    display:inline-block;
}